body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background: #c2c2c2;
}

form, table {
    width: 100%;
    margin-bottom: 20px;
}

input, button {
    padding: 8px;
    margin: 5px 0;
}

input {
    width: 95%;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    background: rgb(226, 191, 95);
}

th, td {
    padding: 10px;
    border: 1px solid #020f35;
    text-align: left;
}

#message {
    color: rgba(0, 102, 128, 0.877);
}
